$font-montserrat: "Montserrat";
$font-din: "DIN Condensed";

$colorBlack: #000000;
$colorBaseBlack: #222222;
$colorLightGray: #F0F0F0;
$colorGray: #808080;
$colorDarkGray: #707070;
$colorWhite: #FFFFFF;
$colorBlue: #2A84AC;
$colorLightBlue: rgba(42, 132, 172, .38);
$colorYellow: #FEE757;
