@forward "../config/variables";
@use "../config/variables" as var;
@forward  "../function/convert-vp";
@use "../function/convert-vp" as vp;
@forward "../mixin/madia";
@use "../mixin/madia";
@forward  "../mixin/site-padding";
@use "../mixin/site-padding" as sp;

.drawer-hamburger {
  position: relative;
  width: auto;
  @include sp.sitePaddingBase(48px, 35px, 48px, 35px);
}
.sr-only {
  position: sticky;
  letter-spacing: .04em;
  font-size: 2.0rem;
  font-family: "Montserrat";
  color: var.$colorBaseBlack;
  &.change {
    color: var.$colorWhite;
  }
}

.drawer-hamburger-icon, .drawer-hamburger-icon::after {
  width: vp.convertVw(61px, 1280px);
  @include madia.deviceBreakPointMax(600px) {
    width: vp.convertVw(61px, 600px);
    }
}

.drawer-hamburger-icon:after {
  top: vp.convertVw(14px, 1280px);
  @include madia.deviceBreakPointMax(600px) {
    top: vp.convertVw(16px, 600px);
  }
}

.drawer-open .drawer-hamburger-icon {
  margin-top: vp.convertVw(15px, 1280px);
  background-color: var.$colorDarkGray;
  transform: rotate(20deg);
  @include madia.deviceBreakPointMax(600px) {
    margin-top: vp.convertVw(15px, 600px);
  }
}

.drawer-open .drawer-hamburger-icon:after {
  transform: rotate(-40deg);
}
.drawer-hamburger-icon {
  height: 1px;
  margin-top: vp.convertVw(15px, 1280px);
  background-color: var.$colorDarkGray;
  @include madia.deviceBreakPointMax(600px) {
    margin-top: vp.convertVw(10px, 600px);
  }
  &::before {
    display: none;
  }
  &::after {
    height: 1px;
    background-color: var.$colorDarkGray;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  z-index: 4;
  height: auto;
  right: 0;
}

.drawer--right.drawer-open .drawer-nav {
  z-index: 3;
}

.drawer--right .drawer-nav {
  right: -130%;
  @include madia.deviceBreakPointMax(600px) {
    right: -130%;
    }
}

.drawer-overlay {
  position: static;
  background-color: transparent;
}

.drawer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  line-height: 2.0em;
  background-color: var.$colorBaseBlack;
  @include madia.deviceBreakPointMax(600px) {
    width: 130%;
    line-height: 3.0em;
    }
}

.drawer-menu-item {
  font-size: 6.0rem;
  color: var.$colorWhite;
  margin-top: vp.convertVw(23px, 1280px);
  @include madia.deviceBreakPointMax(600px) {
    width: vp.convertVw(64px, 600px);
    margin-top: vp.convertVw(43px, 600px);
    }
}